<div class="filter-col2 p-r-15 p-b-27">
	<div class="mtext-102 cl2 p-b-15">
		Fiyat
	</div>

	<ul>
		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
				Tüm Fiyatlar
			</a>
		</li>

		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04">
				$0.00 - $50.00
			</a>
		</li>

		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04">
				$50.00 - $100.00
			</a>
		</li>

		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04">
				$100.00 - $150.00
			</a>
		</li>

		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04">
				$150.00 - $200.00
			</a>
		</li>

		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04">
				$200.00+
			</a>
		</li>
	</ul>
</div>
