<div class="top-bar">
	<div class="content-topbar flex-sb-m h-full container">
		<div class="left-top-bar">
			1000TL ve üzeri siparişlerinizde ücretsiz kargo!
		</div>

		<div class="right-top-bar flex-w h-full">
			<a href="#" class="flex-c-m trans-04 p-lr-25">
				Yardım & SSS
			</a>

			<a href="#" class="flex-c-m trans-04 p-lr-25">
				Kurumsal
			</a>

			<a href="#" class="flex-c-m trans-04 p-lr-25">
				Hizmet Şartları
			</a>

			<a asp-controller="Contact" asp-action="Index" class="flex-c-m trans-04 p-lr-25">
				İletişim
			</a>


			@if (User.Identity.IsAuthenticated)
			{
				<a asp-controller="Logout" asp-action="Index" class="flex-c-m trans-04 p-lr-25">
					Çıkış Yap
				</a>

				<a href="#" class="flex-c-m trans-04 p-lr-25">
					@ViewBag.UserFullName
				</a>
				
			}
			else
			{
				<a asp-controller="Register" asp-action="Index" class="flex-c-m trans-04 p-lr-25">
					Üye Ol
				</a>

				<a asp-controller="Login" asp-action="SignIn" class="flex-c-m trans-04 p-lr-25">
					Giriş Yap
				</a>
			}

		</div>
	</div>
</div>



