<div class="top-bar">
	<div class="content-topbar flex-sb-m h-full container">
		<div class="left-top-bar">
			1000TL ve üzeri siparişlerinizde ücretsiz kargo!
		</div>

		<div class="right-top-bar flex-w h-full">
			<a href="#" class="flex-c-m trans-04 p-lr-25">
				Yardım & SSS
			</a>

			<a href="#" class="flex-c-m trans-04 p-lr-25">
				Kurumsal
			</a>

			<a href="#" class="flex-c-m trans-04 p-lr-25">
				Kullanım Koşulları
			</a>

			<a href="#" class="flex-c-m trans-04 p-lr-25">
				@* login olunca isim gelecek *@
				Giriş Yap
			</a>


		</div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

