@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<section class="sec-product-detail bg0 p-t-65 p-b-60">
	<div class="container">
		<div class="row">
			@* ürün detay modal'ındaki görsel slider *@
			@await Component.InvokeAsync("_ProductDetailImageSliderComponentPartial", new { id = ViewBag.Id })

			@* ürün detay modal'ındaki isim,fiyat, beden, renk gibi secenekler kısmı *@
			@await Component.InvokeAsync("_ProductDetailNameAndOtherInfo", new { id = ViewBag.Id })
		</div>

		@* Description, information vs. var *@
		<div class="bor10 m-t-50 p-t-43 p-b-40">
			<!-- Tab01 -->
			<div class="tab01">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item p-b-10">
						<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Açıklama</a>
					</li>

					<li class="nav-item p-b-10">
						<a class="nav-link" data-toggle="tab" href="#information" role="tab">Ek Bilgiler</a>
					</li>

					<li class="nav-item p-b-10">
						<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Yorumlar</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content p-t-43">
					<!-- - -->
					@await Component.InvokeAsync("_ProductDetailDescriptionComponentPartial", new { id = ViewBag.Id })


					<!-- - -->
					@await Component.InvokeAsync("_ProductDetailInformationComponentPartial", new { id = ViewBag.Id })

					

					<!-- - -->
					@await Component.InvokeAsync("_ProductDetailReviewsComponentPartial", new { id = ViewBag.Id })

					

				</div>
			</div>
		</div>

	</div>

</section>




<!-- Related Products -->

@* ürün detayındaki en alttaki aynı kategorideki ürünler/benzer ürünler *@
@await Component.InvokeAsync("_SimilarProductsSameCategoryComponentPartial", new { id = ViewBag.Id })




