@model ResultProductDetailDto

<div class="tab-pane fade" id="information" role="tabpanel">
	<div class="row">
		<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
			<p class="stext-102 cl6">
				@(Model?.ProductInfo ?? "Ürün bilgisi girilmemiştir")
			</p>
		</div>
	</div>
</div>