@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/UILayout/_UILayout.cshtml";
}

@* slider *@
@await Component.InvokeAsync("_CarouselDefaultComponentPartial")

@* kategoriler *@
@* @await Html.PartialAsync("_BannerPartial") *@
@await Component.InvokeAsync("_CategoriesDefaultComponentPartial")


@* öne cikan ürünler *@
@await Component.InvokeAsync("_FeatureProductsDefaultComponentPartial")

@* özel teklifler *@
@await Component.InvokeAsync("_SpecialOfferComponentPartial")

@* markalar kısmı için slider kütüphanesi kullandıgım icin, template ile aynı hizada olması icin container sınıfının icine aldım. *@
<div class="container">
	@* satıcılar/markalar *@
	@await Component.InvokeAsync("_VendorDefaultComponentPartial")
</div>





@if (!string.IsNullOrEmpty(TempData["Info"] as string))
{
    <script>
        console.log(typeof Swal);


        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                icon: 'success',
                title: 'Tebrikler!',
                text: '@Html.Raw(Json.Serialize(TempData["Info"]))',
                confirmButtonColor: '#ffc107',
                confirmButtonText: 'Tamam'
            });
        });
    </script>
}




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




