@model ResultProductDetailDto

<div class="tab-pane fade show active" id="description" role="tabpanel">
	<div class="how-pos2 p-lr-15-md">
		<p class="stext-102 cl6">
			@(Model?.ProductDescription ?? "Ürün açıklaması girilmemiştir.")
		</p>
	</div>
</div>