<div class="filter-col4 p-b-27">
	<div class="mtext-102 cl2 p-b-15">
		Ebata Göre Filtre
	</div>

	<ul>
		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
				Tüm Ebatlar
			</a>
		</li>

		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04">
				Popularity
			</a>
		</li>

		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04">
				Average rating
			</a>
		</li>

		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04 ">
				Newness
			</a>
		</li>

		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04">
				Price: Low to High
			</a>
		</li>

		<li class="p-b-6">
			<a href="#" class="filter-link stext-106 trans-04">
				Price: High to Low
			</a>
		</li>
	</ul>
</div>